extends ../layout/default
block header
	- var dashboard = 'active';
	- var curPath = '/';
block contents
	#page-wrapper
		.container-fluid
			.row
				.col-lg-12
					h1.page-header
						| Dashboard
					ol(style="margin-bottom:3px;").breadcrumb
						li.active
							i.fa.fa-list-ul.faiconsize
							|  Recent
					.RecentDocuments
						each folder in recent.folders
							a(href='/'+folder.type+'Documents/'+folder.id)
								.dc_fd
									input(type="hidden" value=folder.id)
									i.fa.fa-folder.f_text
									| 
									span.f_text #{folder.foldername}
						each document in recent.documents
							a(href='/'+document.type+'Documents/view/'+document.id target="_blank")
								.dc_fl
									input(type="hidden" value=document.id)
									i.fa.fa-file.f_text
									| 
									span.f_text #{document.documentname}
			hr
			.row
				.col-lg-12
					ol(style="margin-bottom:3px;").breadcrumb
						li.active
							i.fa.fa-user.faiconsize
							|  Private
					.PrivateDocuments
						include ../part/list
						+list('private',private.folders,private.documents)
			hr
			.row
				.col-lg-12
					ol(style="margin-bottom:3px;").breadcrumb
						li.active
							i.fa.fa-users.faiconsize
							|  Public
					.PublicDocuments
						include ../part/list
						+list('public',public.folders,public.documents)