extends ../layout/default
block header
	- var dashboard = 'active';
	- var curPath = '/';
block contents
	#page-wrapper
		.container-fluid
			.row
				.col-lg-12
					h1.page-header
						| Dashboard
					ol(style="margin-bottom:3px;").breadcrumb
						li.active
							i.fa.fa-list-ul.faiconsize
							|  Recent
					.RecentDocuments
						each folder in recent.folders
							a(href='/'+folder.type+'Documents/'+folder.id)
								.dc_fd
									i.fa.fa-folder.f_text
									| 
									span.f_text #{folder.foldername}
						each document in recent.documents
							a(href='/'+document.type+'Documents/view/'+document.id target="_blank")
								.dc_fl
									i.fa.fa-file.f_text
									| 
									span.f_text #{document.documentname}
			hr
			.row
				.col-lg-12
					ol(style="margin-bottom:3px;").breadcrumb
						li.active
							i.fa.fa-user.faiconsize
							|  Private
					.PrivateDocuments
						include ../part/list
						+list('private',private.folders,private.documents)
			hr
			.row
				.col-lg-12
					ol(style="margin-bottom:3px;").breadcrumb
						li.active
							i.fa.fa-users.faiconsize
							|  Public
					.PublicDocuments
						include ../part/list
						+list('public',public.folders,public.documents)
	script.
		$('.PrivateDocuments').bind("contextmenu", function(event) { 
			event.preventDefault();
			$("div.custom-menu").hide();
			$("<div class='custom-menu'>" +
				"<ul class='nav'>" +
				"<li><a class='text-pink' data-toggle='modal' href='#createFolderModal'><i class='fa fa-fw fa-folder'></i> Create Folder</a></li>" +
				"<li><a class='text-pink' data-toggle='modal' href='#createDocumentModal'><i class='fa fa-fw fa-file'></i> Create Document</a></li></ul></div>")
				.appendTo("body")
				.css({top: event.pageY + "px", left: event.pageX + "px"});
		}).bind("click", function(event) {
			$("div.custom-menu").hide();
		});
		$('.PublicDocuments').bind("contextmenu", function(event) { 
			event.preventDefault();
			$("div.custom-menu").hide();
			$("<div class='custom-menu'>" +
				"<ul class='nav'>" +
				"<li><a class='text-pink' data-toggle='modal' href='#createFolderModal'><i class='fa fa-fw fa-folder'></i> Create Folder</a></li>" +
				"<li><a class='text-pink' data-toggle='modal' href='#createDocumentModal'><i class='fa fa-fw fa-file'></i> Create Document</a></li></ul></div>")
				.appendTo("body")
				.css({top: event.pageY + "px", left: event.pageX + "px"});
		}).bind("click", function(event) {
			$("div.custom-menu").hide();
		});