extends ../layout/default
block header
    - var public = 'active';
    - var curPath = cur ? cur.id : '/';
block contents
    #page-wrapper
        .container-fluid
            .row
                .col-lg-12
                    h1(style="display:inline-block;").page-header
                        | Public Documents
            .row
                .col-lg-12
                    ol(style="margin-bottom:3px;").breadcrumb
                        li.active
                            i.fa.fa-users.faiconsize
                                |  Public
                    .PublicDocuments
                        include ../part/list
                        +list('public',folders,documents)
                        div(style="height: 100%;").SpaceDiv
    script.
        function init() {
            $('.PublicDocuments').css('height',$(window).height());
        }