extends ../layout/default
block header
    - var freeboard = 'active';
block contents
    #page-wrapper
        .container-fluid
            .row
                .col-lg-12
                    h1(style="display:inline-block").page-header
                        | Freeboard
                    .upload
                        .pt_new
            .row
                .col-lg-12
                    ol.breadcrumb
                        li.active
                            i.fa.fa-list
                                |  Freeboard
                        .PublicDocuments