extends ../layout/default
block header
    - var private = 'active';
    - var curPath = cur ? cur.id : '/';
block contents
    #page-wrapper
        .container-fluid
            .row
                .col-lg-12
                    h1(style="display:inline-block;").page-header
                        | Private Documents
            .row
                .col-lg-12
                    ol(style="margin-bottom:3px;").breadcrumb
                        li.active
                            i.fa.fa-user.faiconsize
                                |  Private
                    .PrivateDocuments
                        include ../part/list
                        +list('private',folders,documents)
                        div(style="height: 100%;").SpaceDiv
    script.
        function init() {
            $('.PrivateDocuments').css('height',$(window).height());
        }