extends ../layout/default
block header
    - var private = 'active';
    - var curPath = cur ? cur.id : '/';
block contents
    #page-wrapper
        .container-fluid
            .row
                .col-lg-12
                    h1(style="display:inline-block;").page-header
                        | Private Documents
            .row
                .col-lg-12
                    ol(style="margin-bottom:3px;").breadcrumb
                        li.active
                            i.fa.fa-user.faiconsize
                                |  Private
                    .PrivateDocuments
                        include ../part/list
                        +list('private',folders,documents)
    script.
        function init() {
            $('.PrivateDocuments').css('height',$(window).height());
        }
        $('.PrivateDocuments').bind("contextmenu", function(event) { 
            event.preventDefault();
            $("div.custom-menu").hide();
            $("<div class='custom-menu'>" +
                "<ul class='nav'>" +
                "<li><a class='text-pink' data-toggle='modal' href='#createFolderModal'><i class='fa fa-fw fa-folder'></i> Create Folder</a></li>" +
                "<li><a class='text-pink' data-toggle='modal' href='#createDocumentModal'><i class='fa fa-fw fa-file'></i> Create Document</a></li></ul></div>")
                .appendTo("body")
                .css({top: event.pageY + "px", left: event.pageX + "px"});
        }).bind("click", function(event) {
            $("div.custom-menu").hide();
        });