extends ../layout/default
block header
    - var private = 'active';
block contents
    #page-wrapper
        .container-fluid
            .row
                .col-lg-12
                    h1(style="display:inline-block;").page-header
                        | Private-Documents
                    .upload
                        .dc_up_fl
                        .dc_up_fd    
            .row
                .col-lg-12
                    ol.breadcrumb
                        li.active
                            i.fa.fa-user
                                |  Private
                    .PrivateDocuments